node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
pnpm-lock.yaml
package-lock.json

/n8n/n8n_manager.py
padlet-style-card-system-analysis.md
tack.md
/n8n/
/n8n/index.html
/n8n/rag.html
/n8n/rag.js
/gpm
/'